css
.header{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  font-size: 32px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(168, 1, 118);
}
.logo span{
    color:rgb(158, 55, 55);
}

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}
.nav-links a:hover{
    background-color: rgb(214, 189, 47);
    padding: 3px 4px;
    border-radius: 4px;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  border-radius: 9px;
  /*background-color:rgb(160, 154, 154);*/
  border: 2px solid white;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    border: 1px solid #5f5f5f;
    background-color: #494747;
    text-transform: capitalize;
    position:absolute;
    top: 60px;
    right: 15px;
    width: 200px;
    border-radius: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display:block;

  }
}
.image-accueil {
  /*background-image: url(./image/kuti\ 2022.jpg);*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 750px;
  border-radius: 10px;
  animation: changeImageAccueil 10s infinite;
}
@keyframes changeImageAccueil {
  0%{background-image: url(./image/kuti\ inter.jpg);}
  33%{background-image: url(./image/IMG_0070.jpg);}
  66%{background-image: url(./image/IMG-20251030-WA0371.jpg);}
  100%{background-image: url(./image/IMG_6372~3.jpeg);}
}
.yaya{
  font-size: 1.5rem;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 17%;
  color: rgb(255, 255, 255);

}
.yaya p {
  font-size: 20px;
  color: white;
}
.yaya span{
  color: rgb(8, 23, 63);
}
.btn{
  text-decoration: none;
  /*background-color: #007BFF;*/
  border: 2px solid white;
  color: white;
  padding: 9px 19px;
  border-radius: 5px;
  display: inline-block;
}
.btn:hover{
  background-color: #d3d3d3;
}
h2{
  font-size: 2.0rem;
  text-align: center;
}
h2 p {
  font-size: 18px;
}
#apropos p {
  font-size: 20px;
  padding: 10px;
}

.photos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  text-align: center;
}
.photo{
  width: 300px;
  box-shadow: 0 0 10px rgb(218, 218, 218);
  border-radius: 5px;
}
.photo img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}
.photo p {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.video{
  justify-content: center;
  text-align: center;
}
form{
  margin: auto;
  /*border: 2px solid #000;*/
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgb(134, 134, 134);
  /*background-color: white;*/
  border-radius: 9px;
  font-family: Arial, Helvetica, sans-serif;
}
form label{
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
form input[type="text"],
form input[type="email"],
form input[type="submit"],
form textarea{
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: none;
}
form textarea {
  height: 80px;
}
#contact{
  background-image: url(./image/jmk\ info.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  margin: 0;
  padding: 5px;

}

.audios{
  display: flex;
  margin-left: 5%;

}
.audio img{
  margin: 0;
  padding: 0;
  width: 40px;
  margin-left: 10px;
}
footer{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  background-color: black;
  border-radius: 7px;
  padding: 5px 10px;
  text-align: center;

}
footer h2{
  font-size: 1.7rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.icones{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:25px;
}
.icon{
  background-color: #f1f1f1;
  border-radius:10px;
  box-shaddow:0 4px 10px rgba(0, 0, 0, 0.1);
  padding:1.3rem;
  width:250px;
  text-align: center;
}
.icon img{
  width: 65px;
  height:65px;
  margin-buttom:1rem;
  color:blue;
}
.icon:hover{
  transform: translateY(-10px);
}
.icon a{
  list-style:none;
  text-decoration:none;
  color:blue;
}
.icon a:hover{
  background-color:rgb(214, 189, 47);
  padding: 3px 4px;
  border-radius:5px;
}
.phrase{
  font-size: 1.7rem;
}

.image-etude{
  background-image: url(./image/UPC.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*border-radius: 10px;*/
  height: 500px;
  animation:changeImageEtude 10s infinite;
}
/*@keyframes changeImageEtude {
  0%{background-image: url("./image/la gloire.jpg");}
  33%{background-image: url("./image/sixième.jpg");}
  66%{background-image: url("./image/upc.jpg");}
  100%{background-image: url("./image/début upc.jpeg");}
}*/
.image-projet{
  background-image: url(./image/def-pro.jpg);
  background-size: cover;
  background-position: center;
  background-repaet: no-repaet;
  height: 500px;
  animation: changeImageProjet 10s infinite;
}
#projet h1 {
  font-size: 1.7rem;
}
/*@keyframes ChangeImageProjet{
  0%{background-image: url(./image/UPC.jpg:}
  33%{background-image: url(./image/kuti\inter.jpg);}
  66%{background-image: url(./image/début upc.jpeg);}
  100%{background-image: url(./image/sixième.jpg);}
}*/
.image-visi{
  background-image: url(./image/visi.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}
.taille h1 {
  font-size: 1.5rem;
}
.corp-apro{
  margin: 0;
  padding: 5px;
  background-color:#0A192F;
}
.corp-apro h2,
.corp-apro p {
  color: white;
}
#etude{
  background-color:#0A192F;
  border-radius: 10px;
  margin: 0;
  padding: 5px;
}
#etude h2,
#etude p {
  margin: 6px;
  color: white;
}
.compe{
  background-color:#0A192F;
  border-radius: 10px;
  margin: 0;
  padding: 5px;
}
.compe h2,
.compe p {
  margin: 6px;
  color: white;
}
#pro{
  background-color:#0A192F;
  border-radius: 10px;
  margin: 0;
  padding: 5px;
}
#pro h2,
#pro p {
  margin: 5px;
  color: white;
}
#vision{
  background-color:#0A192F;
}
#vision h2,
#vision p {
  margin: 5px;
  color: white;
}
#parcours{
  margin: 0;
  padding: 0;
  background-color: #0A192F;
  border-radius: 8px;
}
#parcours h2{
  color: white;
}
